# Ignore EVERTYHING
*

# directories
!/bp-entities
!/bp-entities/**
!/.github
!/.github/**
!/build
!/build/BUILD.md
!/documentation
!/documentation/**
!/functions
!/functions/**
!/language
!/language/**
!/src
!/src/**

# misc files
!CHANGELOG.md
!.gitignore
!build.py
!LICENSE
!main-manifest.json
!pack_icon.png
!package-lock.json
!package.json
!README.md
!tsconfig.json
!esbuild.config.js